In [1]:
import pandas as pd

In [4]:
logs = pd.read_csv('user_actions.csv')

In [5]:
logs

     user_id            timestamp                                  action
0  138849259  2025-03-29 15:35:27  User question: есть ли жизнь на марсе?
1  138849259  2025-03-29 15:35:36                            Bot response
2  138849259  2025-03-29 15:38:41        User question: сколько будет 2+2
3  138849259  2025-03-29 15:38:45                            Bot response
4  138849259  2025-03-29 15:38:48                          /start command